body {
	background-image:url("/spring/resources/images/backgroundcrow.jpg");
	background-size: cover;
}

button {
    background-color: lightblue;
    border: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    border-radius: 10px;
    vertical-align: middle;
}

p.erreurCo {
	background-color: black;
	font-size: 50px;
	color: yellow;
}

.footer a:visited {
	color: lightblue;
}

.footer a:hover {
	color: white;
}

.palliate{
	height : 500px;
}

div.headerConnexion {
  display:inline;
  overflow: auto;
}

div.bandeau_intro {
	text-align: center;
	background-color: red;
	border: 2px solid;
}

div.home_left {
	text-align: left;
}

div.options_connexion {
	text-align: right;
}

div.contenu_centre {
	text-align: center;
}

div.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 2px solid;
	text-align: center;
}

table {
	text-align: center;
	border-collapse: separate;
	border-spacing: 5px 8px;
}