body {
	background-color: teal;
	align: center;
}

button {
    background-color: lightblue;
    border: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    border-radius: 10px;
    vertical-align: middle;
}

p.erreurCo {
	background-color: black;
	font-size: 50px;
	color: yellow;
}

.footer a:visited {
	color: lightblue;
}

.footer a:hover {
	color: white;
}

.palliate{
	height : 500px;
}

div {
	text-align: center;
}