<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CrowdfundingWebApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Connexion ? -->
	<servlet>
	    <servlet-name>Connexion</servlet-name>
	    <servlet-class>com.servlets.user.Connexion</servlet-class>
  
 	    <init-param>
	        <param-name>author</param-name> 
	        <param-value>flodavid</param-value> 
	    </init-param>
	    
    	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Test BDD ? -->
	<servlet>
		<description>Test sur BDD</description>
		<display-name>GestionTestJDBC</display-name>
		<servlet-name>GestionTestJDBC</servlet-name>
		<servlet-class>com.servlets.user.GestionTestJDBC</servlet-class>
		<init-param>
			<description>
			c'est moi</description>
			<param-name>Test</param-name>
			<param-value>dddd</param-value>
		</init-param>
	</servlet>
	
	
	
	<!-- Mapping connexion -->
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<!-- Mapping BDD ? -->
	<servlet-mapping>
		<servlet-name>GestionTestJDBC</servlet-name>
		<url-pattern>/GestionTestJDBC</url-pattern>
	</servlet-mapping>
	
</web-app>
